---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/schools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1198'
      X-Ratelimit-Reset:
      - '1443289122'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:14:56.662Z","district":"4fd43cc56d11340000000005","high_grade":"12","last_modified":"2014-02-26T21:14:56.665Z","location":{"address":"350
        5th Avenue","city":"New York","state":"NY","zip":"10001"},"low_grade":"9","name":"Clever
        High School","nces_id":"360008000000","phone":"(212) 555-1212","principal":{"name":"Theodora
        Khan","email":"tdkhan@mailinator.com"},"school_number":"02M800","sis_id":"02M800","state_id":"712345","id":"530e595026403103360ff9fd"},"uri":"/v1.1/schools/530e595026403103360ff9fd"},{"data":{"created":"2014-02-26T21:14:56.668Z","district":"4fd43cc56d11340000000005","high_grade":"5","last_modified":"2014-02-26T21:14:56.670Z","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"low_grade":"Kindergarten","name":"Clever
        Elementary School","nces_id":"360007000000","phone":"(718) 555-4567","principal":{"name":"Cecilia
        Roderick","email":"ceciliar@mailinator.com"},"school_number":"13K123","sis_id":"13K123","state_id":"30890","id":"530e595026403103360ff9fe"},"uri":"/v1.1/schools/530e595026403103360ff9fe"},{"data":{"created":"2014-02-26T21:14:56.671Z","district":"4fd43cc56d11340000000005","high_grade":"8","last_modified":"2014-02-26T21:14:56.673Z","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"low_grade":"6","name":"Clever
        Middle School","nces_id":"360001000000","phone":"(718) 555-8989","principal":{"name":"Leonard
        Springsteen","email":"lspringsteen@mailinator.com"},"school_number":"27Q321","sis_id":"27Q321","state_id":"412","id":"530e595026403103360ff9ff"},"uri":"/v1.1/schools/530e595026403103360ff9ff"}],"paging":{"current":1,"total":1,"count":3},"links":[{"rel":"self","uri":"/v1.1/schools"}]}'
  recorded_at: Sat, 13 Sep 2014 00:07:50 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/schools/530e595026403103360ff9fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1197'
      X-Ratelimit-Reset:
      - '1[...]
- request:
    method: get
    uri: https://api.clever.com//v1.1/schools/530e595026403103360ff9fd/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-626288943"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1196'
      X-Ratelimit-Reset:
      - '1443289122'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"course_name":"Group Guidance","course_number":"101","created":"2014-02-26T21:15:37.927Z","district":"4fd43cc56d11340000000005","grade":"10","last_modified":"2014-08-11T18:35:06.714Z","name":"Group
        Guidance - 101 - B. Greene (Section 1)","period":"0","school":"530e595026403103360ff9fd","sis_id":"581","students":["530e5961049e75a9262cffd9","530e5961049e75a9262d0010","530e5961049e75a9262d004e","530e5961049e75a9262d0080","530e5962049e75a9262d0156","530e5963049e75a9262d01b7","530e5963049e75a9262d0253","530e5966049e75a9262d0418","530e5966049e75a9262d0475","530e5966049e75a9262d04b4","530e5967049e75a9262d0503","530e5968049e75a9262d05e9","530e5968049e75a9262d061f","530e5968049e75a9262d0632","530e5968049e75a9262d0647"],"subject":"homeroom/advisory","teacher":"530e5955d50c310f36112c11","term":{"name":"Y1","start_date":"2012-08-01T00:00:00.000Z","end_date":"2013-06-01T00:00:00.000Z"},"id":"530e5979049e75a9262d0af2"},"uri":"/v1.1/sections/530e5979049e75a9262d0af2"},{"data":{"course_name":"Group
        Guidance","course_number":"102","created":"2014-02-26T21:15:37.934Z","district":"4fd43cc56d11340000000005","grade":"10","last_modified":"2014-02-26T21:15:37.936Z","name":"Group
        Guidance - 102 - T. Vaux (Section 2)","period":"0","school":"530e595026403103360ff9fd","sis_id":"582","students":["530e5960049e75a9262cff4f","530e5960049e75a9262cff95"[...]
- request:
    method: get
    uri: https://api.clever.com//v1.1/schools/530e595026403103360ff9fd/sections?starting_after=530e597a049e75a9262d0b94
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-626288943"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '[...]
[...]
