*.gem
*.rbc
.bundle
.config
.yardoc
doc_coverage.txt
.rvmrc
.ruby-version
.ruby-gemset
Gemfile.lock
*.gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
