---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"name":"Demo District","id":"4fd43cc56d11340000000005"},"uri":"/v1.1/districts/4fd43cc56d11340000000005"}],"paging":{"current":1,"total":1,"count":1},"links":[{"rel":"self","uri":"/v1.1/districts"}]}'
  recorded_at: Wed, 23 Sep 2015 14:42:19 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/schools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1198'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:14:56.662Z","district":"4fd43cc56d11340000000005","high_grade":"12","last_modified":"2014-02-26T21:14:56.665Z","location":{"address":"350
        5th Avenue","city":"New York","state":"NY","zip":"10001"},"low_grade":"9","name":"Clever
        High School","nces_id":"360008000000","phone":"(212) 555-1212","principal":{"name":"Theodora
        Khan","email":"tdkhan@mailinator.com"},"school_number":"02M800","sis_id":"02M800","state_id":"712345","id":"530e595026403103360ff9fd"},"uri":"/v1.1/schools/530e595026403103360ff9fd"},{"data":{"created":"2014-02-26T21:14:56.668Z","district":"4fd43cc56d11340000000005","high_grade":"5","last_modified":"2014-02-26T21:14:56.670Z","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"low_grade":"Kindergarten","name":"Clever
        Elementary School","nces_id":"360007000000","phone":"(718) 555-4567","principal":{"name":"Cecilia
        Roderick","email":"ceciliar@mailinator.com"},"school_number":"13K123","sis_id":"13K123","state_id":"30890","id":"530e595026403103360ff9fe"},"uri":"/v1.1/schools/530e595026403103360ff9fe"},{"data":{"created":"2014-02-26T21:14:56.671Z","district":"4fd43cc56d11340000000005","high_grade":"8","last_modified":"2014-02-26T21:14:56.673Z","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"low_grade":"6","name":"Clever
        Middle School","nces_id":"360001000000","phone":"(718) 555-8989","principal":{"name":"Leonard
        Springsteen","email":"lspringsteen@mailinator.com"},"school_number":"27Q321","sis_id":"27Q321","state_id":"412","id":"530e595026403103360ff9ff"},"uri":"/v1.1/schools/530e595026403103360ff9ff"}],"paging":{"current":1,"total":1,"count":3},"links":[{"rel":"self","uri":"/v1.1/schools"}]}'
  recorded_at: Wed, 23 Sep 2015 14:42:19 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/students
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1672977800"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1197'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:15:12.346Z","credentials":{"district_username":"stevez33","district_password":"auyik3tiTieL"},"district":"4fd43cc56d11340000000005","dob":"2/11/2007","ell_status":"N","email":"z.steve@example.net","frl_status":"Paid","gender":"M","grade":"Kindergarten","hispanic_ethnicity":"Y","iep_status":"","last_modified":"2014-06-04T14:10:40.656Z","location":{"zip":"10459"},"name":{"first":"Steve","middle":"G","last":"Ziemann"},"race":"Black
        or African American","school":"530e595026403103360ff9fe","sis_id":"100095233","state_id":"231786324","student_number":"100095233","id":"530e5960049e75a9262cff1d"},"uri":"/v1.1/students/530e5960049e75a9262cff1d"},{"data":{"created":"2014-02-26T21:15:12.358Z","credentials":{"district_username":"douglasw58","district_password":"ahFii2nae"},"district":"4fd43cc56d11340000000005","dob":"6/18/1998","ell_status":"Y","email":"w_douglas@example.net","frl_status":"Paid","gender":"M","grade":"9","hispanic_ethnicity":"N","iep_status":"","last_modified":"2014-06-04T14:10:40.661Z","location":{"zip":"11004"},"name":{"first":"D[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"438255836"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1196'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"type":"sections.updated","data":{"object":{"course_name":"Grade
        3 Math, Class 301","course_number":"301","district":"4fd43cc56d11340000000005","grade":"3","name":"Grade
        3 Math, Class 301 - 301 - S. Block","period":"5","school":"530e595026403103360ff9fe","sis_id":"771","subject":"math","teacher":"530e5955d50c310f36112c15","term":{"name":"Y1","start_date":"2012-08-01","end_date":"2013-06-01"},"students":["530e5962049e75a9262d00fb","530e5962049e75a9262d015a","530e5963049e75a9262d0219","530e5964049e75a9262d0270","530e5964049e75a9262d02cf","530e5964049e75a9262d02fc","530e5965049e75a9262d0341","530e5965049e75a9262d0343","530e5965049e75a9262d038d","530e5965049e75a9262d03a7","530e5966049e75a9262d0415","530e5966049e75a9262d0439","530e5966049e75a9262d0458","530e5966049e75a9262d04d5","530e5967049e75a9262d04f4","530e5967049e75a9262d051f"],"last_modified":"2014-07-07T15:46:35.850Z","created":"2014-02-26T21:15:38.738Z","id":"530e597a049e75a9262d0baf"},"previous_attributes":{"students":["530e5960049e75a9262cff56","530e5962049e75a9262d00fb","530e5962049e75a9262d015a","530e5963049e75a9262d0219","530e5964049e75a9262d0270","530e5964049e75a9262d02cf","530e5964049e75a9262d02fc","530e5965049e75a9262d0341","530e5965049e75a9262d0343","530e5965049e75a9262d038d","530e5965049e75a9262d03a7","530e5966049e75a9262d0415","530e5966049e75a9262d0439","530e5966049e75a9262d0458","530e5966049e75a9262d04d5","530e5967049e75a9262d04f4","530e5967049e75a9262d051f"]}},"created":"2014-08-28T18:[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-682802249"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1195'
      X-Ratelimit-Reset:[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/teachers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1194'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2012-11-11T15:00:14.036Z","credentials":{"district_password":"Acoev0oow4","district_username":"spinka_leo"},"district":"4fd43cc56d11340000000005","email":"spinka.leo@example.net","last_modified":"2014-02-26T21:15:01.038Z","name":{"first":"Leo","last":"Spinka","middle":"R"},"school":"530e595026403103360ff9fe","sis_id":"11","teacher_number":"539224","title":"Grade
        3 Common Branch Teacher","id":"509fbd7ec474fab64a8e9d53"},"uri":"/v1.1/teachers/509fbd7ec474fab64a8e9d53"},{"data":{"created":"2012-11-27T15:04:48.474Z","credentials":{"district_password":"OMeitoo3v","district_username":"reuben.conn"},"district":"4fd43cc56d11340000000005","email":"conn_reuben@example.net","last_modified":"2014-02-26T21:15:01.234Z","name":{"first":"Reuben","last":"Conn","middle":"K"},"school":"530e595026403103360ff9ff","sis_id":"33","teacher_number":"215041","title[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/school_admins
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1193'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"district":"4fd43cc56d11340000000005","email":"thinkerton@example.com","name":{"first":"Think","last":"Thinkerton"},"schools":["530e595026403103360ff9fd"],"staff_id":"1212","title":"Principal","id":"5601b814141fd30001000017"},"uri":"/v1.1/school_admins/5601b814141fd30001000017"}],"links":[{"rel":"self","uri":"/v1.1/school_admins"}]}'
  recorded_at: Wed, 23 Sep 2015 14:42:21 GMT
recorded_with: VCR 2.9.3
