---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/students?count=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"count":1004,"links":[{"rel":"self","uri":"/v1.1/students?count=true"}]}'
  recorded_at: Sat, 13 Sep 2014 00:02:18 GMT
recorded_with: VCR 2.9.3
