---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/teachers?count=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1162'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"count":89,"links":[{"rel":"self","uri":"/v1.1/teachers?count=true"}]}'
  recorded_at: Sat, 26 Sep 2015 17:41:01 GMT
recorded_with: VCR 2.9.3
