---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/district_admins?show_links=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"id":"519edecb58b876b018000652","district":"4fd43cc56d11340000000005","email":"demo
        account@demo account.com","name":{"first":"Demo","last":"Account"}},"uri":"/v1.1/district_admins/519edecb58b876b018000652"},{"data":{"id":"52a112ee3880c7c30b000966","district":"4fd43cc56d11340000000005","email":"aaron.sokol+launch@getclever.com","name":{"first":"Demo","last":"Account"}},"uri":"/v1.1/district_admins/52a112ee3880c7c30b000966"},{"data":{"id":"54a177d50a293fdb06000002","district":"4fd43cc56d11340000000005","email":"taylor.singletary+demo@clever.com","name":{"first":"Taylor","last":"Singletary"}},"uri":"/v1.1/district_admins/54a177d50a293fdb06000002"},{"data":{"id":"555a7ec9982b720100000002","district":"4fd43cc56d11340000000005","email":"aashay.desai+demotoken@clever.com","name":{"last":"Desai","first":"Aashay"},"title":"DevRel"},"uri":"/v1.1/district_admins/555a7ec9982b720100000002"}],"paging":{"current":1,"total":1,"count":4},"links":[{"rel":"self","uri":"/v1.1/district_admins"}]}'
  recorded_at: Fri, 16 Dec 2016 22:10:51 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/district_admins/555a7ec9982b720100000002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"555a7ec9982b720100000002","district":"4fd43cc56d11340000000005","email":"aashay.desai+demotoken@clever.com","name":{"last":"Desai","first":"Aashay"},"title":"DevRel"},"links":[{"rel":"self","uri":"/v1.1/district_admins/555a7ec9982b720100000002"}]}'
  recorded_at: Fri, 16 Dec 2016 22:10:52 GMT
recorded_with: VCR 3.0.3
