---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/students?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1610775002"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1164'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:15:12.346Z","credentials":{"district_username":"stevez33","district_password":"auyik3tiTieL"},"district":"4fd43cc56d11340000000005","dob":"2/11/2007","ell_status":"N","email":"z.steve@example.net","frl_status":"Paid","gender":"M","grade":"Kindergarten","hispanic_ethnicity":"Y","iep_status":"","last_modified":"2014-06-04T14:10:40.656Z","location":{"zip":"10459"},"name":{"first":"Steve","middle":"G","last":"Ziemann"},"race":"Black
        or African American","school":"530e595026403103360ff9fe","sis_id":"100095233","state_id":"231786324","student_number":"100095233","id":"530e5960049e75a9262cff1d"},"uri":"/v1.1/students/530e5960049e75a9262cff1d"},{"data":{"created":"2014-02-26T21:15:12.358Z","credentials":{"district_username":"douglasw58","district_password":"ahFii2nae"},"district":"4fd43cc56d11340000000005","dob":"6/18/1998","ell_status":"Y","email":"w_douglas@example.net","frl_status":"Paid","gender":"M","grade":"9","hispanic_ethnicity":"N","iep_status":"","last_modified":"2014-06-04T14:10:40.661Z","location":{"zip":"11004"},"name":{"first":"Douglas","middle":[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/students?where=%7B%22_id%22:%7B%22$in%22:%5B%22530e5960049e75a9262cff1d%22,%22530e5960049e75a9262cff1f%22,%22530e5960049e75a9262cff21%22,%22530e5960049e75a9262cff23%22,%22530e5960049e75a9262cff25%22,%22530e5960049e75a9262cff27%22,%22530e5960049e75a9262cff29%22,%22530e5960049e75a9262cff2d%22,%22530e5960049e75a9262cff33%22,%22530e5960049e75a9262cff39%22%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Au[...]
