---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/teachers?limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1188'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2012-11-11T15:00:14.036Z","credentials":{"district_password":"Acoev0oow4","district_username":"spinka_leo"},"district":"4fd43cc56d11340000000005","email":"spinka.leo@example.net","last_modified":"2014-02-26T21:15:01.038Z","name":{"first":"Leo","last":"Spinka","middle":"R"},"school":"530e595026403103360ff9fe","sis_id":"11","teacher_number":"539224","title":"Grade
        3 Common Branch Teacher","id":"509fbd7ec474fab64a8e9d53"},"uri":"/v1.1/teachers/509fbd7ec474fab64a8e9d53"},{"data":{"created":"2012-11-27T15:04:48.474Z","credentials":{"district_password":"OMeitoo3v","district_username":"reuben.conn"},"district":"4fd43cc56d11340000000005","email":"conn_reuben@example.net","last_modified":"2014-02-26T21:15:01.234Z","name":{"first":"Reuben","last":"Conn","middle":"K"},"school":"530e595026403103360ff9ff","sis_id":"33","teacher_number":"215041","title":"Grade
        8 Mathematics Teacher","id":[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/teachers?where=%7B%22_id%22:%7B%22$in%22:%5B%22509fbd7ec474fab64a8e9d53%22,%2250ba1c0c4eda5d94372227eb%22,%2250c20477987eda0d3d02d30e%22,%2250c4a79299ad702e0228e956%22,%2250c89ff19ed67a1d3f1f50c9%22,%22530e5955d50c310f36112bcb%22,%22530e5955d50c310f36112bcd%22,%22530e5955d50c310f36112bcf%22,%22530e5955d50c310f36112bd1%22,%22530e5955d50c310f36112bd3%22%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Au[...]
