---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1170'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"name":"Demo District","id":"4fd43cc56d11340000000005"},"uri":"/v1.1/districts/4fd43cc56d11340000000005"}],"paging":{"current":1,"total":1,"count":1},"links":[{"rel":"self","uri":"/v1.1/districts"}]}'
  recorded_at: Sat, 26 Sep 2015 17:40:58 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts?count=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1169'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"count":1,"links":[{"rel":"self","uri":"/v1.1/districts?count=true"}]}'
  recorded_at: Sat, 26 Sep 2015 17:40:58 GMT
recorded_with: VCR 2.9.3
