---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/school_admins
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1168'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"district":"4fd43cc56d11340000000005","email":"thinkerton@example.com","name":{"first":"Think","last":"Thinkerton"},"schools":["530e595026403103360ff9fd"],"staff_id":"1212","title":"Principal","id":"5601b814141fd30001000017"},"uri":"/v1.1/school_admins/5601b814141fd30001000017"}],"links":[{"rel":"self","uri":"/v1.1/school_admins"}]}'
  recorded_at: Sat, 26 Sep 2015 17:40:59 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/school_admins?count=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1167'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"count":1,"links":[{"rel":"self","uri":"/v1.1/school_admins?count=true"}]}'
  recorded_at: Sat, 26 Sep 2015 17:40:59 GMT
recorded_with: VCR 2.9.3
