---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts/4fd43cc56d11340000000005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1105'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"data":{"name":"Demo District","id":"4fd43cc56d11340000000005"},"links":[{"rel":"self","uri":"/v1.1/districts/4fd43cc56d11340000000005"},{"rel":"schools","uri":"/v1.1/districts/4fd43cc56d11340000000005/schools"},{"rel":"teachers","uri":"/v1.1/districts/4fd43cc56d11340000000005/teachers"},{"rel":"students","uri":"/v1.1/districts/4fd43cc56d11340000000005/students"},{"rel":"sections","uri":"/v1.1/districts/4fd43cc56d11340000000005/sections"},{"rel":"events","uri":"/v1.1/districts/4fd43cc56d11340000000005/events"}]}'
  recorded_at: Sat, 26 Sep 2015 17:41:31 GMT
- request:
    method: get
    uri: https://api.clever.com//v1.1/district_admins
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1098'
      X-Ratelimit-Reset:
      - '1443289303'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"519edecb58b876b018000434","district":"4fd43cc56d11340000000005","email":"district-bigwig@example.com","name":{"first":"District","last":"Bigwig"}}],"paging":{"current":1,"total":1,"count":1},"links":[{"rel":"self","uri":"/v1.1/district_admins"}]}'
  recorded_at: Sat, 26 Sep 2015 17:41:34 GMT
recorded_with: VCR 2.9.3
