---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '1443020012'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"name":"Demo District","id":"4fd43cc56d11340000000005"},"uri":"/v1.1/districts/4fd43cc56d11340000000005"}],"links":[{"rel":"self","uri":"/v1.1/districts?ending_before=last&limit=1"},{"rel":"prev","uri":"/v1.1/districts?limit=1&ending_before=4fd43cc56d11340000000005"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:32 GMT
[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/schools?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1197'
      X-Ratelimit-Reset:
      - '1443020012'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:14:56.671Z","district":"4fd43cc56d11340000000005","high_grade":"8","last_modified":"2014-02-26T21:14:56.673Z","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"low_grade":"6","name":"Clever
        Middle School","nces_id":"360001000000","phone":"(718) 555-8989","principal":{"name":"Leonard
        Springsteen","email":"lspringsteen@mailinator.com"},"school_number":"27Q321","sis_id":"27Q321","state_id":"412","id":"530e595026403103360ff9ff"},"uri":"/v1.1/schools/530e595026403103360ff9ff"}],"links":[{"rel":"self","uri":"/v1.1/schools?ending_before=last&limit=1"},{"rel":"prev","uri":"/v1.1/schools?limit=1&ending_before=530e595026403103360ff9ff"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:33 GMT
[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/students?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1195'
      X-Ratelimit-Reset:
      - '1443020012'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:15:20.623Z","credentials":{"district_username":"markr17","district_password":"yo0ohYo6ro"},"district":"4fd43cc56d11340000000005","dob":"8/24/1996","ell_status":"N","email":"r_mark@example.com","frl_status":"Paid","gender":"M","grade":"11","hispanic_ethnicity":"N","iep_status":"","last_modified":"2014-06-04T14:10:44.750Z","location":{"zip":"10034"},"name":{"first":"Mark","middle":"S","last":"Reilly"},"race":"American
        Indian","school":"530e595026403103360ff9fd","sis_id":"999447617","state_id":"651135073","student_number":"999447617","id":"530e5968049e75a9262d064b"},"uri":"/v1.1/students/530e5968049e75a9262d064b"}],"links":[{"rel":"self","uri":"/v1.1/students?ending_before=last&limit=1"},{"rel":"prev","uri":"/v1.1/students?limit=1&ending_before=530e5968049e75a9262d064b"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:34 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/students?ending_before=last&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1605049778"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1194'
      X-Ratelimit-Reset:
      - '1443020012'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:15:20.547Z","credentials":{"district_username":"arthurr56","district_password":"uod0aiXue"},"district":"4fd43cc56d11340000000005","dob":"10/27/2002","ell_status":"Y","email":"r_arthur@example.com","frl_status":"Paid[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/events?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1193'
      X-Ratelimit-Reset:
      - '1443020012'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"type":"sections.updated","data":{"object":{"course_name":"Kindergarten
        Science, Class 003","course_number":"3","district":"4fd43cc56d11340000000005","grade":"Kindergarten","name":"Kindergarten
        Science, Class 003 - 003 - J. Stark","period":"4","school":"530e595026403103360ff9fe","sis_id":"866","subject":"science","teacher":"50c20477987eda0d3d02d310","term":{"name":"Y1","start_date":"2012-08-01","end_date":"2013-06-01"},"students":["530e5961049e75a9262cffbe","530e5961049e75a9262cffc3","530e5961049e75a9262d0000","530e5961049e75a9262d0036","530e5961049e75a9262d0074","530e5962049e75a9262d00c5","530e5963049e75a9262d01fa","530e5964049e75a9262d027e","530e5964049e75a9262d02a8","530e5964049e75a9262d02ab","530e5964049e75a9262d02f7","530e5965049e75a9262d03b2","530e5965049e75a9262d03bf","530e5966049e75a9262d040a","530e5966049e75a9262d0449","530e5967049e75a9262d051b","530e5967049e75a9262d0565","530e5968049e75a9262d05f0","530e5968049e75a9262d061e","530e5968049e75a9262d0623"],"last_modified":"2014-02-26T21:15:39.195Z","created":"2014-02-26T21:15:39.193Z","id":"530e597b049e75a9262d0c12"},"previous_attributes":{"subject":"homeroom/advisory"}},"created":"2014-08-28T18:01:14.088Z","id":"53ff6e6b322eced00200008e"},"uri":"/v1.1/events/53ff6e6b322eced00200008e"}],"links":[{"rel":"self","uri":"/v1.1/events?ending_before=last&limit=1"},{"rel":"prev","uri":"/v1.1/events?limit=1&ending_before=53ff6e6b322eced00200008e"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:35 GMT
[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/sections?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-619602332"'
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '119[...]
[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/teachers?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1189'
      X-Ratelimit-Reset:
      - '1443020012'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"created":"2014-02-26T21:15:01.572Z","credentials":{"district_username":"m_paucek","district_password":"jhga8salgh"},"district":"4fd43cc56d11340000000005","email":"paucek_m@example.org","last_modified":"2014-02-26T21:15:01.574Z","name":{"first":"Meaghan","middle":"P","last":"Paucek"},"school":"530e595026403103360ff9fd","sis_id":"93","teacher_number":"843713","title":"High
        School Drama Teacher","id":"530e5955d50c310f36112c19"},"uri":"/v1.1/teachers/530e5955d50c310f36112c19"}],"links":[{"rel":"self","uri":"/v1.1/teachers?ending_before=last&limit=1"},{"rel":"prev","uri":"/v1.1/teachers?limit=1&ending_before=530e5955d50c310f36112c19"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:37 GMT
[...]
- request:
    method: get
    uri: https://api.clever.com/v1.1/school_admins?ending_before=last&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1193'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"district":"4fd43cc56d11340000000005","email":"thinkerton@example.com","name":{"first":"Think","last":"Thinkerton"},"schools":["530e595026403103360ff9fd"],"staff_id":"1212","title":"Principal","id":"5601b814141fd30001000017"},"uri":"/v1.1/school_admins/5601b814141fd30001000017"}],"links":[{"rel":"self","uri":"/v1.1/school_admins?ending_before=last&limit=1"},{"rel":"prev","uri":"/v1.1/school_admins?limit=1&ending_before=5601b814141fd30001000017"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:37 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/school_admins?ending_before=last&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEMO_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1193'
      X-Ratelimit-Reset:
      - '1443019399'
    body:
      encoding: UTF-8
      string: '{"data":[{"data":{"district":"4fd43cc56d11340000000005","email":"thinkerton@example.com","name":{"first":"Think","last":"Thinkerton"},"schools":["530e595026403103360ff9fd"],"staff_id":"1212","title":"Principal","id":"5601b814141fd30001000017"},"uri":"/v1.1/school_admins/5601b814141fd30001000017"}],"links":[{"rel":"self","uri":"/v1.1/school_admins?ending_before=last&limit=20"}]}'
  recorded_at: Wed, 23 Sep 2015 14:52:38 GMT
recorded_with: VCR 2.9.3
